{% extends "admin/layout/layout.html" %}
{% block title %}Blank Page{% endblock %}
{% load static %}
{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Kullanıcı Grupları</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'admin_account_groups' %}">Kullanıcı Grupları</a></li>
                            <li class="breadcrumb-item active">Liste</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Gruplar</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Kullanıcı Adı</th>
                                    <th>Tam Ad</th>
                                    <th>Aktiflik</th>
                                    <th>Katıldığı Tarih</th>
                                    <th>Son Giriş</th>
                                    <th>İşlemler</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if users %}
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.get_full_name }}</td>
                                            <td>{{ user.date_joined }}</td>
                                            <td>{{ user.last_login }}</td>
                                            <td>{% if user.is_active %}Aktif{% else %}Kapalı{% endif %}</td>
                                            <td>
{#                                                <a style="color: #fff" href="{% url 'edit_group' group.slug %}"><button class="btn btn-sm btn-success">Düzenle</button></a>#}
{#                                                <a style="color: #fff" href="{% url 'delete_group' group.slug %}"><button class="btn btn-sm btn-danger">Sil</button></a>#}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Ad</th>
                                    <th>Oluşturulduğu Tarih</th>
                                    <th>Son Güncelleme</th>
                                    <th>Aktiflik</th>
                                    <th>İşlemler</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {% include 'admin/layout/footer.html' %}
{% endblock %}