{% extends "admin/layout/layout.html" %}
{% block title %}Grup Ekle{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
    {% include 'admin/layout/navbar.html' %}
    {% include 'admin/layout/sidebar.html' %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Grup Ekle</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Gruplar</a></li>
                            <li class="breadcrumb-item active">Grup Ekle</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>


            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- jquery validation -->
                            <div class="card card-primary">
                                <!-- form start -->
                                <form role="form" id="quickForm" method="post">
                                    {% csrf_token %}
                                    {{ form_as.p }}
                                    <div class="card-body">
                                        <div class="form-group">
                                            {{ form.userId|as_crispy_field }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.groupId|as_crispy_field }}
                                        </div>
                                        <div class="form-group mb-0">
                                            <div class="custom-control custom-checkbox">
                                                {{ form.isActive|as_crispy_field }}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Ekle</button>
                                        <button class="btn btn-danger"><a style="color: #fff" href="{% url 'groups_index' %}">Geri Dön</a></button>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card -->
                        </div>
                        <!--/.col (left) -->
                        <!-- right column -->
                        <div class="col-md-6">

                        </div>
                        <!--/.col (right) -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {% include 'admin/layout/footer.html' %}
{% endblock %}