{% extends "admin/layout/layout.html" %}
{% block title %}Add New User{% endblock %}
{% load static %}
{% block body %}
    <div class="content-wrapper">
        {% if messages %}
            <div class="alert alert-warning alert-dismissible">
                {% for message in messages %}
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                    {{ message }}
                    <li class="alert alert-{{ message.tags }} alert-dismissible fade show"
                        style="list-style: none"
                            {% if message.tags %} {% endif %}>{{ message }}</li>
                {% endfor %}
            </div>
        {% endif %}
        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-5">
                        <div class="card card-primary">
                            <form role="form" id="quickForm" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="input-group mb-3 col-6">
                                        <input type="text" class="form-control" name="first_name"
                                               placeholder="First Name"
                                               value="{% if first_name %}{{ first_name }}{% endif %}">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3 col-6">
                                        <input type="text" class="form-control" name="last_name" placeholder="Last Name"
                                               value="{% if last_name %}{{ last_name }}{% endif %}">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group mb-3 col-6">
                                        <input type="text" class="form-control" name="username"
                                               placeholder="Username"
                                               value="{% if username %}{{ username }}{% endif %}">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3 col-6">
                                        <input type="email" class="form-control" name="email" placeholder="Email"
                                               value="{% if email %}{{ email }}{% endif %}">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-envelope"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group mb-3 col-6">
                                        <input type="password" class="form-control" name="password"
                                               placeholder="Password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3 col-6">
                                        <input type="password" class="form-control" name="confirm_password"
                                               placeholder="Password Confirm">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mt-1">
                                        <button type="submit" class="btn btn-primary btn-block swalDefaultError">Save
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include 'admin/layout/footer.html' %}
{% endblock %}