{% extends "wwttms/layout/layout.html" %}
{% block title %}Create a Ticket{% endblock %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load static %}
{% block body %}
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container mt-5">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Create Ticket</h3>
                                </div>
                                <form role="form" class="form-group" method="post" action="{% url 'wwttms_index' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="first_name">First Name*</label>
                                        <input type="text" id="first_name" class="form-control" name="first_name" required
                                               placeholder="First Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="last_name">Last Name*</label>
                                        <input type="text" id="last_name" class="form-control" name="last_name" required
                                               placeholder="Last Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email*</label>
                                        <input type="email" id="email" class="form-control" name="email" required
                                               placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control">
                                            {{ form.message }}
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include 'admin/layout/footer.html' %}
{% endblock %}

